<% @books.each do |book| %>
  <div>
    <ul>
      <li><strong>Title</strong> : <%= book[:title] %></li>
      <li><strong>Author</strong> : <%= book[:author] %></li>
      <li><strong>Publisher</strong> : <%= book[:publisher] %></li>
      <li><strong>Genre</strong> : <%= book[:genre] %></li>
    </ul>
  </div>
<% end %>

